@import "tailwindcss";
@plugin "daisyui";

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

/*  BASE THEME (LIGHT)  */

@theme {
  /* App */
  --color-app-bg: #ffffff;
  --color-navbar-bg: #f9fafb;
  --color-card-bg: #ffffff;

  /* Brand */
  --color-brand-main: #f97316;
  --color-brand-soft: #fed7aa;
  --color-brand-fade: #fffbeb;

  /* Text */
  --color-text-main: #111827;
  --color-text-muted: #6b7280;
  --color-text-subtle: #9ca3af;

  /* UI */
  --color-border: #e5e7eb;
  --color-hover: #fff7ed;

  /* Status */
  --color-admin: #16a34a;
  --color-danger: #ef4444;
  --color-success: #16a34a;

  /* Misc */
  --color-muted-bg: #f3f4f6;
  --color-btn-black: #111827;
}

/*  DARK MODE OVERRIDES  */

.dark {
  --color-app-bg: #0b0f14;
  --color-navbar-bg: #111827;
  --color-card-bg: #111827;

  --color-brand-main: #fb923c;
  --color-brand-soft: #7c2d12;
  --color-brand-fade: #1f2937;

  --color-text-main: #e5e7eb;
  --color-text-muted: #9ca3af;
  --color-text-subtle: #6b7280;

  --color-border: #1f2937;
  --color-hover: #1f2933;

  --color-admin: #22c55e;
  --color-danger: #f87171;

  --color-muted-bg: #1f2937;
  --color-btn-black: #fbffc7;
}

/*  UTILITIES  */

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
